h1, h3 ,h4, p, label {
  font-family: 'Seaweed Script', cursive;
}
p {

  font-size: 15px;
}
label {
  font-size: 20px;
  font-weight: normal;
}
.story {
  font-family: sans-serif;
}

body {
	color: #ffffff;
	/*background: url('blackbackground.jpg'); */
	background-color: #111
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #000;
    cursor: default;
    background-color: #555;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.progress-bar {
	color: #000;	 
}

.hp {
	background-color: rgb(165, 0, 0);
}

.hunger {
	background-color: rgb(0, 124, 0);
}

.item {
	font-size: 12px;
	border-style: double;
	border-width: 2px;
	padding-left: 10px

}
.centerButton {
	height: 50px;
    position: relative; 
    width: 100px; 
    left: 10%;
}
